<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body onload="init(<%-countyOperator%>);">
    <%- include('../map/map'); %>
    <%- include('../partials/filter'); %>
    <%- include('../partials/time'); %>
    <%- include('../partials/stats'); %>
    <%- include('../partials/call'); %>
    <%- include('../partials/dialog'); %>
    <%- include('../partials/container'); %>
    <%- include('../include/js'); %>
</body>
</html>